<%- include('cabecera'); %>

    <div class="container">
        <div class="row d-flex justify-content-center">

                <div class="alert alert-danger center">
                    <h2>404 Not Found</h2>
                    <p>
                        Sorry, an error has occured,
                        <%= url %> requested page not found!
                    </p>
                    <div class="d-flex justify-content-center">
                    <a href="http://localhost:8080/inmuebles" class="btn btn-primary btn-lg"> Home</a>
                    </div>                
                </div>

        </div>
    </div>

    <%- include('pie'); %>