<%- include('cabecera'); %>

<div class="text-center">
    <h1>Mi casa</h1>
</div>

<div class="text-center">
    <img src="/uploads/logo.png" alt="">
    <legend>Encuentra tu nuevo hogar</legend>
</div>

<%- include('pie'); %>