<%- include('cabecera'); %>

    <h1 class="center m-4">Login</h1>

    <div class="form-group">
        <label for="login">Usuario:</label>
        <input type="text" class="form-control" id="login" name="login" />
    </div>
    <div class="form-group">
        <label for="password">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" />
    </div>
    <button class="btn btn-primary" onclick="login()">Enviar</button>

    <%- include('pie'); %>