<%- include('cabecera'); %>

    <h1 class="center m-4">Añadir un nuevo inmueble</h1>

    <form id="formulario" action="/inmuebles" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="tipo">Selecciona un tipo:</label>
            <select name="tipo" id="tipo">
                <% if( (typeof tipos !== "undefined") || tipos.length > 0){ tipos.forEach( tipo => {%>
                    <option value="<%= tipo.id %>">
                        <%= tipo.nombre %>
                    </option>
                    <% }); }%>
            </select>
        </div>
        <div class="form-group">
            <label for="descripción">Descripción:</label>
            <input type="text" class="form-control" id="descripcion" name="descripcion">
            </textarea>
        </div>
        <div class="form-group">
            <label for="precio">Precio:</label>
            <input type="number" class="form-control" id="precio" name="precio" />
        </div>
        <div class="form-group">
            <label for="habitaciones">Nº de habitaciones:</label>
            <input type="number" class="form-control" id="habitaciones" name="habitaciones" />
        </div>
        <div class="form-group">
            <label for="superficie">Superficie en m²:</label>
            <input type="number" class="form-control" id="superficie" name="superficie" />
        </div>
        <div class="form-group">
            <label for="imagen">Imagen:</label>
            <input type="file" class="form-control" id="imagen" name="imagen" />
        </div>
        <button class="btn btn-primary" onclick="nuevo()">Enviar</button>
    </form>
    <%- include('pie'); %>