<%- include('cabecera'); %>

    <div class="container">
        <div class="row d-flex justify-content-center">

            <div class="alert alert-danger text-center">
                <h2>Error</h2>
                <p>
                    No estas logeado, no tienes acceso a esta página.
                </p>
                <div class="d-flex justify-content-center">
                    <a href="http://localhost:8080/inmuebles" class="btn btn-primary btn-lg"> Home</a>
                </div>
            </div>

        </div>
    </div>

    <%- include('pie'); %>