<%- include('cabecera'); %>

    <h1 class="center m-4">Registro</h1>

    <form action="/usuarios/registro" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre1" name="nombre1" />
        </div>
        <div class="form-group">
            <label for="login">Usuario:</label>
            <input type="text" class="form-control" id="login1" name="login1" />
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="password" class="form-control" id="password1" name="password1" />
        </div>
        <button class="btn btn-secondary" type="submit">Enviar</button>
    </form>
    <%- include('pie'); %>